@import "./base/normalize.scss";
@import "./base/reset.scss";

// Variables
$search-padding: 0.5rem;
$color-navy-blue: #112a46;
$color-error: #f40000;

html {
  font-size: 20px;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  font-family: "Lora", "Domine", "Times New Roman", serif;
  font-weight: 400;
}

body {
  background-image: url("./assets/fog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  margin: 0.5rem;
}

.conditions {
  font-weight: 500;
  font-size: 1.5rem;
}

button {
  padding: 0.5rem;
  background: none;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#search-location {
  padding: $search-padding;
  width: 40%;
  border-right: none;
}

.main-info {
  position: relative;
  p {
    margin: 1.5rem 0;
  }
  img {
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
  }
}

.day-weather-card:hover {
  background: lightgreen;
}
.display-day-forecast,
.error-msg {
  display: none;
}

.error-msg {
  padding: 0.5rem;
  color: $color-error;
}

.current-weather-card {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 2rem auto 0;
  background: rgba(0, 0, 0, 0.2);

  p.temp {
    font-weight: 700;
    font-size: 3rem;
  }
}

.forecast-container {
  position: relative;
  .forecast-cards-container {
    display: flex;
    justify-content: space-around;
    // background: rgba(237, 225, 225, 0.82);
    color: $color-navy-blue;
    padding: 3rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: solid 1px white;
      padding: 1.5rem 1rem;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .prev-interval,
  .nxt-interval {
    position: absolute;
    top: 50%;
    display: none;
  }

  .prev-interval {
    left: 1.5%;
  }

  .nxt-interval {
    right: 1.5%;
  }
}

.hourly-weather-card,
.day-weather-card {
  p:first-child {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
