@import "./base/normalize.scss";
@import "./base/reset.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
html,
body {
  height: 100%;
}

body {
  background-image: url("./assets/foggy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.display-day-forecast,
.error-msg {
  display: none;
}

.forecast-cards-container {
  display: flex;
}
