@import "./base/normalize.scss";
@import "./base/reset.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
html,
body {
  height: 100%;
}

body {
  background-image: url("./assets/foggy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.display-day-forecast,
.error-msg {
  display: none;
}

.forecast-cards-container {
  display: flex;
  justify-content: space-around;
  background: rgba(199, 208, 213, 0.5);
  color: #112a46;
  padding: 3rem;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
