@import "./base/normalize.scss";
@import "./base/reset.scss";

// Variables
$search-padding: 0.5rem;
$color-navy-blue: #112a46;
$color-error: #f40000;
$button-box-shadow: 5px 5px 5px 2px black;
$color-background-overlay: rgba(0, 0, 0, 0.2);
$border-solid-white: solid 1px white;
$card-col-gap-width: 10px;
$card-row-gap-width: 15px;

html {
  font-size: 20px;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  font-family: "Lora", "Domine", "Times New Roman", serif;
  font-weight: 400;
}

body {
  background-image: url("./assets/fog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  color: $color-navy-blue;
}
p {
  margin: 0.5rem;
}

.conditions {
  font-weight: 500;
  font-size: 1.5rem;
}

button {
  padding: 0.5rem;
  background: none;
  border: $border-solid-white;
  margin-bottom: 0.5rem;
  box-shadow: $button-box-shadow;
  &:hover {
    background: $color-navy-blue;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .search-button {
    box-shadow: none;
    margin-bottom: 0;
  }
}

#search-location {
  padding: $search-padding;
  width: 40%;
  border-right: none;
  border: $border-solid-white;
}

.main-info {
  p {
    margin-bottom: 1.5rem;
  }
  img {
    top: 0;
    width: 200px;
    margin: -4rem -2rem -3rem;
  }
}

.display-day-forecast,
.error-msg {
  display: none;
}

.display-day-forecast {
  transform: translate(50%, 0);
  background: $color-background-overlay;
}

.error-msg {
  padding: 0.5rem;
  color: $color-error;
}

.current-weather-card {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 2rem auto 0;
  padding: 2rem 0;
  background: $color-background-overlay;

  @media screen and (min-width: 576px) {
    flex-direction: row;
  }

  p.temp {
    font-weight: 700;
    font-size: 3rem;
  }
}

.forecast-container {
  position: relative;
  margin-top: 2rem;
  padding: 0 1.5rem;

  .forecast-cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: space-around;
    row-gap: $card-row-gap-width;
    column-gap: $card-col-gap-width;
    color: $color-navy-blue;
    padding: 2rem;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    @media screen and (min-width: 1082px) {
      flex-wrap: nowrap;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: $border-solid-white;
      justify-content: space-evenly;
      padding: 1.5rem 1rem;
      background: $color-background-overlay;
    }

    .day-weather-card {
      flex-basis: calc(calc(100% / 3) - $card-col-gap-width);
      img {
        width: 100px;
        margin: -0.5rem;
      }
    }

    .hourly-weather-card {
      flex-basis: calc(25% - $card-col-gap-width);
    }
  }

  .prev-interval,
  .nxt-interval {
    position: absolute;
    top: 50%;
    display: none;
  }

  .prev-interval {
    left: 1.5%;
  }

  .nxt-interval {
    right: 1.5%;
  }
}

.hourly-weather-card,
.day-weather-card {
  p:first-child {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
